<div id="<%= dom_id employee %>">
  <p>
    <strong>Nombre:</strong>
    <%= employee.name %>
  </p>

  <p>
    <strong>Departamento:</strong>
    <%= employee.departament %>
  </p>

  <p>
    <strong>Habilidades:</strong>
    <%= employee.skills %>
  </p>

</div>
