<div id="<%= dom_id assignment %>">
  <p>
    <strong>Empleado:</strong>
    <%= assignment.employee_id %>
  </p>

  <p>
    <strong>Proyecto:</strong>
    <%= assignment.project_id %>
  </p>

  <p>
    <strong>Carga de trabajo:</strong>
    <%= assignment.workload %>
  </p>

</div>
