<h1>Editar assignacion</h1>

<%= render "form", assignment: @assignment %>

<br>

<div>
  <%= link_to "Mostrar esta assignacion", @assignment %> |
  <%= link_to "Volver a assignaciones", assignments_path %>
</div>
