<head>
  <title>Proyectos</title>
  <%= stylesheet_link_tag 'project' %>
</head>


<div id="<%= dom_id project %>">
  <p>
    <strong>Nombre:</strong>
    <%= project.name %>
  </p>

  <p>
    <strong>Descripción:</strong>
    <%= project.description %>
  </p>

</div>
